body {
    padding: 20px;
}

table {
    margin-top: 20px;
}

.table .btn {
    position: relative;
    left: 25%;
}

.delete-td {
    text-align: center
}

.delete-btn {
    margin: 0;

}


.page-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page-form-button {

    display: inline-flex;
	margin: 0px 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	background-color: transparent;
	border: none;
	border-radius: 10px;
	color: #888888;
	font-weight: 600;
	text-decoration: none;
}
.page-form-button:hover {
    color: red;
    scale: 1.5;
}

.page-form-input {
    width: 40px;
	max-width: 100%;
    margin: 0 5px;
    padding: 10px;
    box-shadow: none;
    background-color: #f4f4f4;
    border: 0;
	border-radius: 10px;
    color: #2e2e2e;
	font-weight: 600;
	text-align: center;

    &::placeholder {
		color: #888888;
		font-weight: 400;
		opacity: 1;
	}

    &:focus {
		outline: 0;
		box-shadow: 0 0 1px 3px #eeeeee;
	}

    /* Hide arrows on number field */
    &[type="number"] {
		appearance: textfield;
	}
	&[type="number"]::-webkit-outer-spin-button,
	&[type="number"]::-webkit-inner-spin-button {
		appearance: none;
	}
}